swagger: "2.0"
info:
  description: "About"
  version: "1.0"
  title: "Pfeffernusse"
  contact:
    email: "jlaura@usgs.gov"
  license:
    name: "UnLicense"
    url: "http://unlicense.org/"
host: "astrogeology.wr.usgs.gov"
basePath: "/api/1.0"
schemes:
- "http"
- "https"
paths:
  /home:
    get:
      tags:
      - "home"
      summary: "Dataframe of the home directory in JSON"
      description: ""
      operationId: "getDataframe"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dataframe"

  /home/hash:
    get:
      tags:
      - "home"
      summary: "Hash of the home dataframe"
      description: ""
      operationId: "getHash"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"

  /missions:
    get:
      tags:
      - "missions"
      summary: "List of available missions (Human-Readable)"
      description: ""
      operationId: "listMissions"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"

  /missions/naif:
    get:
      tags:
      - "missions"
      summary: "List of available missions (NAIF technical names)"
      description: ""
      operationId: "getNaifNames"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"

  /missions/{mission}:
    get:
      tags:
      - "missions"
      summary: "List of available kernel types by missions"
      description: "Get a listing of available kernel types by missions"
      operationId: "findMission"
      parameters:
        - name: mission
          in: path
          description: Name of the missions
          required: true
          type: string
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
        400:
          description: "Invalid mission name"

  /missions/{mission}/kernels:
    get:
      tags:
      - "kernels"
      summary: "List of available kernels for a given mission"
      description: ""
      operationId: "findKernelsByMission"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Kernels"
        400:
          description: "Invalid tag value"

  /missions/{mission}/metakernels:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission"
      description: ""
      operationId: "findMetaKernelsByMission"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"

  /missions/{mission}/metakernels/newest:
      get:
        tags:
        - "metakernels"
        summary: "List of available metakernels for a given mission, sorted by newest"
        description: ""
        operationId: "findMetaKernelsByMissionNew"
        produces:
        - "application/json"
        parameters:
          - name: mission
            in: path
            description: "Name of the missions"
            required: true
            type: string
        responses:
          200:
            description: "successful operation"
            schema:
              type: "array"
              items:
                $ref: "#/definitions/Metakernels"
          400:
            description: "Invalid tag value"

  /missions/{mission}/metakernels/{year}:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission and year"
      description: ""
      operationId: "findMetaKernelsByMissionYear"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
        - name: year
          in: path
          description: "Year to be searched"
          required: true
          type: integer
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"

  /missions/{mission}/metakernels/{year}/newest:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission and year, sorted by newest"
      description: ""
      operationId: "findMetaKernelsByMissionYearNew"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string
        - name: year
          in: path
          description: "Year to be searched"
          required: true
          type: integer
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"

  /missions/{mission}/kernels/{kernel}:
    get:
      tags:
      - "kernels"
      summary: "List of available files for a given mission/kernel"
      description: ""
      operationId: "getFilesByKernel"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string

        - name: kernel
          in: path
          description: "Kernel type being hashed"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Kernels"
        400:
          description: "Invalid tag value"

  /missions/{mission}/kernels/{kernel}/files:
    get:
      tags:
      - "files"
      summary: "List of available files for a given mission/kernel"
      description: ""
      operationId: "getKernelFiles"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the mission"
          required: true
          type: string

        - name: kernel
          in: path
          description: "Kernel type being viewed"
          required: true
          type: string

        - name: file
          in: path
          description: "Name of the file being hashed"
          required: true
          type: string

      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"

  /missions/{mission}/kernels/{kernel}/hash:
    get:
      tags:
      - "kernels"
      summary: "Hash of a kernel for a given mission"
      description: ""
      operationId: "getKernelHash"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the missions"
          required: true
          type: string

        - name: kernel
          in: path
          description: "Kernel type being hashed"
          required: true
          type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"

  /missions/{mission}/kernels/{kernel}/files/{file}:
    get:
      tags:
      - "files"
      summary: "Raw contents of file for a given mission/kernel"
      description: ""
      operationId: "getFileRaw"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the mission"
          required: true
          type: string

        - name: kernel
          in: path
          description: "Kernel type being viewed"
          required: true
          type: string

        - name: file
          in: path
          description: "Name of the file being viewed"
          required: true
          type: string

      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/File"
        400:
          description: "Invalid tag value"

  /missions/{mission}/kernels/{kernel}/files/{file}/hash:
    get:
      tags:
      - "files"
      summary: "Hash of file for a given mission/kernel"
      description: ""
      operationId: "getFileHash"
      produces:
      - "application/json"
      parameters:
        - name: mission
          in: path
          description: "Name of the mission"
          required: true
          type: string

        - name: kernel
          in: path
          description: "Kernel type being viewed"
          required: true
          type: string

        - name: file
          in: path
          description: "Name of the file being hashed"
          required: true
          type: string

      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"

  /update:
    get:
      tags:
      - "sync"
      summary: "List of available nodes"
      description: ""
      operationId: "listNodes"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"

  /update/{user}/ssh:
    get:
      tags:
      - "sync"
      summary: "Public SSH Key of User"
      description: ""
      operationId: "getPublicSSH"
      parameters:
        - name: user
          in: path
          description: Return SSH Public Key
          required: true
          type: string
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"

  /update/{user}/sync:
    get:
      tags:
      - "sync"
      summary: "Synchronize data with another node"
      description: ""
      operationId: "syncNodes"
      parameters:
        - name: user
          in: path
          description: Sync with that user
          required: true
          type: string
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"

definitions:
  Missions:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        name:
          type: "string"

  Kernels:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        name:
          type: "string"
        newest:
          type: "boolean"
        path:
          type: "string"
        year:
          type: "string"

  File:
    type: "array"
    items:
      type: "object"
      properties:
        name:
          type: "string"
        kernel:
          type: "object"
          $ref: "#/definitions/Kernels"
        mission:
          type: "object"
          $ref: "#/definitions/Missions"
        contents:
          type: "string"

  Hash:
    type: "string"
    items:
      type: "object"

  Update:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        name:
          type: "string"

  Dataframe:
    type: "array"
    items:
      type: "object"

  Metakernels:
    type: "array"
    items:
      type: "object"
      properties:
        id:
          type: "integer"
          format: "int64"
        name:
          type: "string"
        newest:
          type: "boolean"
        path:
          type: "string"
        year:
          type: "object"

  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
