---
swagger: "2.0"
info:
  description: "About"
  version: "1.0"
  title: "Spicerack"
  contact:
    email: "jlaura@usgs.gov"
  license:
    name: "UnLicense"
    url: "http://unlicense.org/"
host: "astrogeology.wr.usgs.gov"
basePath: "/api/1.0"
schemes:
- "http"
- "https"
paths:
  /home:
    get:
      tags:
      - "home"
      summary: "List of next available endpoints from home directory"
      description: ""
      operationId: "get_home_endpoints"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dataframe"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/dataframe:
    get:
      tags:
      - "home"
      summary: "Dataframe of the home directory in JSON"
      description: ""
      operationId: "get_dataframe"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Dataframe"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/hash:
    get:
      tags:
      - "home"
      summary: "Hash of the home dataframe"
      description: ""
      operationId: "get_hash"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/naif:
    get:
      tags:
      - "home"
      summary: "List of available missions in naif format"
      description: ""
      operationId: "get_naif"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/missions:
    get:
      tags:
      - "home"
      summary: "List of available missions (Human-Readable)"
      description: ""
      operationId: "list_missions"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
      x-swagger-router-controller: "swagger_server.controllers.home_controller"
  /home/missions/naif:
    get:
      tags:
      - "missions"
      summary: "List of available missions (NAIF technical names)"
      description: ""
      operationId: "get_naif_names"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
      x-swagger-router-controller: "swagger_server.controllers.missions_controller"
  /home/missions/{mission}:
    get:
      tags:
      - "missions"
      summary: "List of the next available endpoints for a given mission"
      description: "Get a listing of available kernel types by missions"
      operationId: "find_missio_endpoints"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Missions"
        400:
          description: "Invalid mission name"
      x-swagger-router-controller: "swagger_server.controllers.missions_controller"
  /home/missions/{mission}/kernels:
    get:
      tags:
      - "kernels"
      summary: "List of available kernels for a given mission"
      description: ""
      operationId: "find_kernels_by_mission"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Kernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.kernels_controller"
  /home/missions/{mission}/kernels/{kernel}:
    get:
      tags:
      - "kernels"
      summary: "List of the next available endpoints for a given mission/kernel"
      description: ""
      operationId: "get_kernel_endpoints"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being hashed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Kernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.kernels_controller"
  /home/missions/{mission}/kernels/{kernel}/hash:
    get:
      tags:
      - "kernels"
      summary: "Hash of a kernel for a given mission"
      description: ""
      operationId: "get_kernel_hash"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being hashed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.kernels_controller"
  /home/missions/{mission}/metakernels:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission"
      description: ""
      operationId: "find_meta_kernels_by_mission"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.metakernels_controller"
  /home/missions/{mission}/metakernels/newest:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission, sorted by newest"
      description: ""
      operationId: "find_meta_kernels_by_mission_new"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.metakernels_controller"
  /home/missions/{mission}/metakernels/{year}:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission and year"
      description: ""
      operationId: "find_meta_kernels_by_mission_year"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      - name: "year"
        in: "path"
        description: "Year to be searched"
        required: true
        type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.metakernels_controller"
  /home/missions/{mission}/metakernels/{year}/newest:
    get:
      tags:
      - "metakernels"
      summary: "List of available metakernels for a given mission and year, sorted\
        \ by newest"
      description: ""
      operationId: "find_meta_kernels_by_mission_year_new"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the missions"
        required: true
        type: "string"
      - name: "year"
        in: "path"
        description: "Year to be searched"
        required: true
        type: "integer"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Metakernels"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.metakernels_controller"
  /home/missions/{mission}/kernels/{kernel}/files:
    get:
      tags:
      - "files"
      summary: "List of available files for a given mission/kernel"
      description: ""
      operationId: "get_kernel_files"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file being hashed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /missions/{mission}/kernels/{kernel}/files/{file}:
    get:
      tags:
      - "files"
      summary: "Raw contents of file for a given mission/kernel"
      description: ""
      operationId: "get_file_raw"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file being viewed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/File"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /missions/{mission}/kernels/{kernel}/files/{file}/hash:
    get:
      tags:
      - "files"
      summary: "Hash of file for a given mission/kernel"
      description: ""
      operationId: "get_file_hash"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file being hashed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /missions/{mission}/kernels/{kernel}/files/{file}/filepath:
    get:
      tags:
      - "files"
      summary: "Filepath of a given file"
      description: ""
      operationId: "get_file_path"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file being hashed"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /missions/{mission}/kernels/{kernel}/files/{file}/year:
    get:
      tags:
      - "files"
      summary: "Year for the given file"
      description: ""
      operationId: "get_file_year"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /missions/{mission}/kernels/{kernel}/files/{file}/year/newest:
    get:
      tags:
      - "files"
      summary: "Newest file for a given year"
      description: ""
      operationId: "get_file_by_year"
      produces:
      - "application/json"
      parameters:
      - name: "mission"
        in: "path"
        description: "Name of the mission"
        required: true
        type: "string"
      - name: "kernel"
        in: "path"
        description: "Kernel type being viewed"
        required: true
        type: "string"
      - name: "file"
        in: "path"
        description: "Name of the file"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Hash"
        400:
          description: "Invalid tag value"
      x-swagger-router-controller: "swagger_server.controllers.files_controller"
  /update:
    get:
      tags:
      - "sync"
      summary: "List of available nodes"
      description: ""
      operationId: "list_nodes"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"
      x-swagger-router-controller: "swagger_server.controllers.sync_controller"
  /update/{user}/ssh:
    get:
      tags:
      - "sync"
      summary: "Public SSH Key of User"
      description: ""
      operationId: "get_public_ssh"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "Return SSH Public Key"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"
      x-swagger-router-controller: "swagger_server.controllers.sync_controller"
  /update/{user}/sync:
    get:
      tags:
      - "sync"
      summary: "Synchronize data with another node"
      description: ""
      operationId: "sync_nodes"
      produces:
      - "application/json"
      parameters:
      - name: "user"
        in: "path"
        description: "Sync with that user"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Update"
      x-swagger-router-controller: "swagger_server.controllers.sync_controller"
definitions:
  Missions:
    type: "array"
    items:
      $ref: "#/definitions/Missions_inner"
  Kernels:
    type: "array"
    items:
      $ref: "#/definitions/Kernels_inner"
  File:
    type: "array"
    items:
      $ref: "#/definitions/File_inner"
  Hash:
    type: "string"
  Update:
    type: "array"
    items:
      $ref: "#/definitions/Missions_inner"
  Dataframe:
    type: "array"
    items:
      type: "object"
      properties: {}
  Metakernels:
    type: "array"
    items:
      $ref: "#/definitions/Metakernels_inner"
  Error:
    required:
    - "code"
    - "message"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
  Missions_inner:
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
  Kernels_inner:
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      newest:
        type: "boolean"
      path:
        type: "string"
      year:
        type: "string"
  File_inner:
    properties:
      name:
        type: "string"
      kernel:
        $ref: "#/definitions/Kernels"
      mission:
        $ref: "#/definitions/Missions"
      contents:
        type: "string"
  Metakernels_inner:
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      newest:
        type: "boolean"
      path:
        type: "string"
      year:
        type: "object"
        properties: {}
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
